---
services:
  jenkins:
    build:
      context: .
      target: jenkins
    container_name: jenkins
    environment:
      - JAVA_OPTS={{ jenkins_java_opts }}
    image: calyx-jenkins:{{ jenkins_docker_tag_version}}
    ports:
      - 8080:8080
    privileged: true
    restart: unless-stopped
    secrets:
      - gerrit_privkey
    user: root
    volumes:
      - jenkins:/var/jenkins_home
      - ./jobs:/var/jenkins_home/jobs
      - ./jenkins_casc.yaml:/var/jenkins_home/jenkins.yaml

secrets:
  gerrit_privkey:
    file: gerrit_privkey

volumes:
  jenkins:
