---
services:
  agent:
    build:
      context: .
      target: agent
    container_name: agent
    environment:
      - JENKINS_AGENT_SSH_PUBKEY={% include 'rendered/jenkins_agent.pub' %}
    image: calyx-ssh-agent:{{ jenkins_docker_tag_version}}
    ports:
      - name: ssh
        target: 22
        published: "{{ jenkins_agent_port }}"
        protocol: tcp
        app_protocol: ssh
        mode: host
    privileged: true
    restart: unless-stopped
    user: root
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
