# syntax=docker/dockerfile:1.0-experimental
FROM jenkins/ssh-agent:"{{ jenkins_docker_tag_version }}" AS agent
USER root
RUN apk --update --no-cache add docker~=25.0 && \
    sed -i'' 's/docker:x:101:/docker:x:{{ jenkins_docker_gid }}:jenkins/g' /etc/group && \
    rm -rf /var/cache/apk/*;
USER jenkins
