# syntax=docker/dockerfile:1.0-experimental
FROM jenkins/jenkins:"{{ jenkins_docker_tag_version}}" AS jenkins
COPY ./jenkins_plugins.txt /tmp/jenkins_plugins.txt
RUN jenkins-plugin-cli -f /tmp/jenkins_plugins.txt && \
    jenkins-plugin-cli --list;
