---
credentials:
  system:
    domainCredentials:
    - credentials:
      - basicSSHUserPrivateKey:
          id: "jenkins_agent"
          description: "SSH private key file for ssh-agent workers"
          privateKeySource:
            directEntry:
              privateKey: |
                          {% filter indent(width=26) %}{% include "rendered/jenkins_agent" %}{% endfilter %}
          scope: SYSTEM
          username: "jenkins"

jenkins:
  agentProtocols:
  - "Ping"
  authorizationStrategy:
    loggedInUsersCanDoAnything:
      allowAnonymousRead: false
  crumbIssuer:
    standard:
      excludeClientIPFromCrumb: false
  disableRememberMe: false
  labelAtoms:
  - name: "built-in"
  - name: "docker"
  - name: "worker"
  markupFormatter: "plainText"
  mode: NORMAL
  myViewsTabBar: "standard"
  nodes:
  - permanent:
      labelString: "docker"
      launcher:
        ssh:
          credentialsId: "jenkins_agent"
          host: "{{ jenkins_agent_host }}"
          javaPath: "/opt/java/openjdk/bin/java"
          port: "{{ jenkins_agent_port }}"
          sshHostKeyVerificationStrategy: "nonVerifyingKeyVerificationStrategy"
      name: "worker"
      numExecutors: 2
      remoteFS: "/home/jenkins/agent"
      retentionStrategy: "always"
  numExecutors: 0
  scmCheckoutRetryCount: 2
  securityRealm:
    local:
      allowsSignup: false
      enableCaptcha: false
  slaveAgentPort: 22
  systemMessage: "Jenkins configured automatically by Jenkins Configuration as Code plugin\n\n"

tool:
  git:
    installations:
    - home: "/usr/bin/git"
      name: "git"

unclassified:
  gerrit-trigger:
    servers:
    - config:
        buildCurrentPatchesOnly:
          abortAbandonedPatchsets: false
          abortManualPatchsets: false
          abortNewPatchsets: false
          abortSameTopic: false
          enabled: false
        categories:
        - verdictDescription: "Code Review"
          verdictValue: "Code-Review"
        - verdictDescription: "Verified"
          verdictValue: "Verified"
        gerritAuthKeyFile: "{{ jenkins_gerrit_privkey_path }}"
        gerritAuthKeyFilePassword: "{{ jenkins_gerrit_privkey_passwd }}"
        gerritEMail: "{{ jenkins_gerrit_email }}"
        gerritFrontEndUrl: "https://{{ jenkins_gerrit_name }}/"
        gerritHostName: "{{ jenkins_gerrit_name }}"
        gerritUserName: "{{ jenkins_gerrit_user }}"
      name: "{{ jenkins_gerrit_name }}"
      noConnectionOnStartup: true
  location:
    adminAddress: "{{ jenkins_admin_email }}"
    url: "http://0.0.0.0:8080/"